<?xml version="1.0" ?>
<ModuleConfiguration>
	<Name>User Manager</Name>
	<Description>This system module allows creating, editing and deleting users.</Description>
	<Version>0.1</Version>
	
	<Requirements>
		<MediaManager>0.1</MediaManager>
	</Requirements>
	
	<Views>
		<View>Overview</View>
	</Views>
	
	<Setups>
		<Setup>usermanager-overview</Setup>
	</Setups>
	
	<Templates>
		<Template>usermanager-overview</Template>
	</Templates>
</ModuleConfiguration>
